.size_grid {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: var(--white);
     z-index: -1;
     opacity: .25;

     &>div {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          gap: var(--spacereg);
          width: var(--width);
          max-width: var(--max-width);
          height: 100vh;
          margin: 0 auto;
          border: 2px solid purple;

          div {
               background-color: lightskyblue;
          }
     }
}


.space_tester {
     position: fixed;
     top: 200px;
     left: 0;
     width: calc((100vw - var(--width)) / 2);
     height: 100px;
     background-color: hotpink;
     opacity: .75;
     container-type: inline-size;
}

@media only screen and (min-width: 1000px) {
     .space_tester {
          width:  calc(var(--width) / 9);
     }
}

@media only screen and (min-width: 1440px) {
     .space_tester {
          width: calc(((100vw - var(--max-width)) / 2) + (var(--spacegrid) + 3px));
     }
}