&{
     &{
          position: relative;
          padding: 0;
          container-type: inline-size;
     }

     //text - container elements
     &>#{$containerElements}{
          width: $width;
          padding: 0;
          margin: 0 auto $spacelarge 0;
     }

     &>#{$blockElements}{
          width: 100%;
          margin: 0 0 $spacereg 0;
     }

     &>#{$headerElements, $textElements, $lnkBtnElements}{
          width: $width;
          max-width: $max-content-width;
          padding: 0;
          margin: 0 auto $spacereg $smallleft;
     }

     #{$headerElements}{
          width: fit-content;
          max-width: calc($max-width - ($spacegrid * 4));
          margin: 0 auto $spacelarge $smallleft;
     }
     //text - container elements - END

     //media elemnts
     #{$mediaElements}{
          padding: 0;
          margin: 0;
     }
     //media elements - END

     //interactive elements
     #{$interactElements}{
          margin: 0 auto;
     }
     //interactive elements - END

     //table elements
     #{$tableElements}{
          margin: 0 auto;
     }
     //table elements - END

     // Heading Elements
     h1, .h1, p.has-h-1-font-size{
          &, a, strong, a strong, strong a{
               font: $size-hone;
               font-variation-settings: $cond_500;
               text-transform: uppercase;
          }

          strong, a strong, strong{
               font-variation-settings: $cond_800;
          }
     }

     h2, .h2, p.has-h-2-font-size{
          &, a, strong, a strong, strong a{
               font: $size-htwo;
               font-variation-settings: $cond_400;
               text-transform: uppercase;
          }
     }

     h3, .h3, .has-h-3-font-size {
          &{
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 1fr 3px;
               gap: $spacesmall;
               font: $size-hthree;
               font-variation-settings: $cond_600;
               text-transform: uppercase;

               &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $tertiary;
               }

               &, &.has-text-align-left{
                    text-align: left;
               }

               &.has-text-align-center{
                    max-width: 600px;
                    margin: 0 auto;
               }
          }
     }

     h4, .h4, .has-h-4-font-size{
          &, a, strong, a strong, strong a{
               font: $size-hfour;
               font-variation-settings: $body_reg;
               text-transform: uppercase;
          }
     }

     h5, .h5, .has-h-5-font-size{
          &, a, strong, a strong, strong a{
               font: $size-hfive;
               font-variation-settings: $body_bold;
          }
     }

     h6, .h6, .has-h-6-font-size{
          &, a, strong, a strong, strong a{
               font: $size-hsix;
               font-variation-settings: $body_reg;
          }
     }
     // Heading Elements - END

     // Body - Elements
     p{
          a{
               position: relative;
               color: $secondary;
               transition: color $primary-transition;

               &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $tertiary;
                    opacity:0;
               }

               &:hover, &:focus{
                    color: $primary;
                    transition: color $primary-transition;

                    &::after{
                         opacity: 1;
                         transition: opacity $primary-transition;
                    }
               }
          }
     }

     a{
          text-decoration: none;
          cursor: pointer;
     }

     strong, a strong, strong a{
          font-weight: $wght-bold;
     }

     em{
          font-style: italic;

          a, strong, a strong, strong a{
               font-style: italic;
          }
     }

     ul:not(nav ul), ol:not(nav ol){
          max-width: $max-content-width;
          padding: $spacereg 0 $spacereg $spaceleft;
          
          li{
               max-width: 90%;
               padding: 0;
               margin: 0 0 $spacesmall $smallleft;

               &::marker{
                    color: $tertiary;
               }
          }
     }

     ul{
          list-style-type: disc;
     }

     ol{
          list-style-type: decimal;
     }

     a, img, button{
          display: inline-block;
     }

     img{
          display: block;
     }

     .has-small-font-size{
          font: $size-button;
          font-variation-settings: $body_bold;
     }

     .has-text-align-center{
          text-align: center;
     }
     // Body - Elements - END
}

@container (min-width: 1024px) {
     #{$headerElements, $textElements, $lnkBtnElements}{
          margin-left: $spaceleft;
          padding: 0;
     }

     ul:not(nav ul), ol:not(nav ol){
          padding: $spacereg 0 $spacereg $spacelarge;
     }
}

@container (min-width: 1400px) {
     #{$headerElements, $textElements, $lnkBtnElements}, ul, ol{
          padding: 0;
          margin: 0 auto $spacereg $largeleft;
     }

     #{$headerElements}{
          padding: 0;
          margin: 0 auto $spacelarge $largeleft;
     }
}