.head_wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     background-color: $white;
     z-index: 1000;

     .site-header {
          position: relative;
          width: 100%;
          height: auto;
          max-height: 50px;
          margin: 0 auto;
          overflow: hidden;
          transition: $primary-transition;

          &.active {
               max-height: 100vh; // No need to repeat transition unless it's different
          }
     }

     .site-branding {
          width: 50px;
          margin: 0;

          a {
               display: grid;
               align-items: center;
               justify-content: center;
               width: 48px;
               height: 48px;
          }

          svg {
               display: block;
               width: 40px;
               height: 40px;

               .logo-icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                    transform: scale(3.5) translateY(-70px); // Ensure the transform doesn't cause layout issues
               }

               .logo-text {
                    display: none;
               }
          }
     }

     ul{
          padding: 0;

          a{
               text-decoration: none;
          }
     }
}

@media (min-width: 1024px) {
     .head_wrapper {
          .site-header {
               display: grid;
               grid-template-columns: 200px auto 200px;
               align-items: center;
               gap: $spacereg;
               width: $width;
               max-width: $max-width;
               height: 125px;
               max-height: none;
               margin: 0 auto;
               padding: 0;
               overflow: visible;

               .site-branding {
                    &, a {
                         width: auto;
                         height: auto;
                    }

                    svg {
                         width: 100%;
                         height: auto;

                         .logo-icon {
                              transform: scale(1) translateY(0);
                         }

                         .logo-text {
                              display: block;
                         }
                    }
               }
          }
     }
}