figure.block-image{
     display: block;
     position: relative;
     width: 100%;
     margin: 0 auto $spacelarge auto;

     img{
          displaY: block;
          width: 100%;
          max-width: $max-width;
          height: 100%;
          aspect-ratio: 16/9;
          margin: 0 auto;
          object-fit: content;
          object-position: center center;
     }

     figcaption{
          width: 100%;
          max-width: $max-content-width;
          padding: $spacesmall 0;
          font: $size-button;
          font-weight: $wght-bold;
          margin: 0 auto 0 $smallleft;
     }

     &.alignfull{
          img{
               width: 100%;
               max-width: 100%;
          }
     }
}

figure.block-video{
     width: 100%;
     max-width: $max-width;
     margin: 0 auto $spacelarge auto;

     video{
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 16/9;
     }
}

.block-media-text{
     width: $width;
     max-width: $max-width;
     margin: 0 auto $spacelarge $smallleft;

     figure{
          width: 100%;
          aspect-ratio: 16/9;
          margin: 0 0 $spacelarge 0;
          overflow: hidden;

          img{
               display: block;
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: 50% 50%;
          }

          video{
               width: 100%;
               height: auto;
               aspect-ratio: 16/9;
          }
     }

     #{$headerElements}{
          margin: 0 0 $spacereg 0;
     }

     &.alignfull{
          width: 100%;
          max-width: none;
          margin: 0 0 $spacelarge 0;

          figure{
               order: 1;
          }

          .block-media-text__content{
               width: $width;
               margin: 0 auto 0 $smallleft;
               order: 2;
          }
     }
}

@media (min-width: 1024px) {
     .block-media-text{
          display: grid;
          grid-template-columns: repeat(2, 50%);
          align-items: center;

          #{$headerElements, $textElements}, .block-buttons{
               width: calc(($width / 12) * 8);
               margin: 0 0 $spacereg $spaceleft;
          }
     }
}

@media (min-width: 1024px) {
     figure.block-image{
          figcaption{
               padding: $spacesmall calc($spacegrid * 3) $spacereg 0;
               margin: 0 auto 0 $spacegrid;
          }
     }

     .block-media-text{
          min-height: 675px;
          margin: 0 auto $spacexl auto;

          &:has(video){
               min-height: auto;
          }

          figure{
               height: 100%;
               aspect-ratio: 4/3;
               margin: 0;

               img{
                    width: auto;
                    object-fit: cover;
               }

               &:has(video){
                    aspect-ratio: 16/9;
               }

               video{
                    width: 100%;
                    aspect-ratio: 16/9;
               }
          }

          .block-media-text__content{
               display: grid;
               align-items: center;
               align-content: center;
               padding: 0;
               gap: $spacereg;
               height: 100%;

               #{$headerElements, $textElements}, .block-buttons{
                    width: calc(($width / 12) * 4);
                    max-width: calc($spacegrid * 4);
                    margin: 0 auto 0 $spacelarge;
               }
          }

          &.has-media-on-the-right{
               #{$headerElements, $textElements}, .block-buttons{
                    margin: 0 $spacelarge 0 auto;
               }
          }

          &.alignfull{
               margin: 0 auto $spacexl auto;
               
               figure{
                    height: 100%;
                    max-height: 780px;
                    aspect-ratio: auto;

                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         object-position: center center;
                    }
               }

               &.has-media-on-the-right{
                    .block-media-text__content{
                         width: inherit;
                         margin: inherit;
                         order: 1;
                    }

                    figure{
                         order: 2;
                    }
               }
          }
     }

     .block-group{
          &:has(.block-media-text){
               min-height: 675px;
               margin: 0 auto $spacexl auto;
          }

          .block-media-text{
               margin: 0 auto;
          }
     }
}

@media (min-width: 1400px) {
     figure.block-image{
          figcaption{
               padding: $spacesmall 0;
               margin: 0 auto 0 $largeleft;
          }
     }

     .block-media-text{
          &.alignfull{
               max-height: 780px;
          }

          .block-media-text__content{
               #{$headerElements, $textElements}, .block-buttons{
                    width: calc(($width / 12) * 4);
                    max-width: calc($spacegrid * 4);
                    margin: 0 0 0 $spacelarge;
               }

               #{$headerElements, $textElements}, .block-buttons{
                    margin: 0 auto 0 $spacegrid;
               }
          }

          &.has-media-on-the-right{
               #{$headerElements, $textElements}, .block-buttons{
                    margin: 0 $spacegrid 0 auto;
               }
          }
     }
}