#{$textElements, $textElements ,$subtextElements ,$lnkbtnElements ,$mediaElements ,$containerElements ,$interactElements ,$tableElements}{
	margin: 0;
	padding: 0;
	border: 0;
     font: $size-body;
     font-variation-settings: $body_reg;
     color: $black;
     margin: 0;
     padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	width: 100vw;
     overflow: hidden;
}

body {
	width: 100%;
     height: 100vh;
	padding: 0;
     margin: 0;
	overflow-x: hidden;
     overflow-y: scroll;
     scroll-behavior: smooth;
     scroll-padding: 60px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
	background-color: transparent;
	box-shadow: none;
	border: none;
}

form, input, textarea{
     font: $size-body;
     font-variation-settings: $body_reg;
     color: $black;
     box-sizing: border-box;
}

// Global Styles
#page {
     padding: 50px 0 0 0;
}

@media only screen and (min-width: 1024px) {
     body{
          scroll-padding: 125px;

          #page {
               padding: 125px 0 0 0;
          }
     }
}
// Global Styles - END