.custgroup:not(.full-width, .full-mobile-limit-desktop, .full-mobile-limit-desktop){
     margin: 0 auto;
     padding: 0 $spacereg $spacelarge $spacereg;
}

.full-width{
     padding: 0 0 $spacereg 0;
}

.limit-width{
     max-width: $max-width;
}

.small-width{
     max-width: $max-content-width;
}

.full-mobile-limit-desktop{
     max-width: $max-width;
     margin: 0 auto;
     padding: 0 0 $spacereg 0;
}

.full-mobile-limit-desktop:not(:first-of-type),
.full-width.has-background{
     padding: $spacelarge;
}