.tab-accord-wrap{
     width: $width;
     max-width: $max-width;
     margin: 0 auto $spacelarge auto;
     container-type: inline-size;

     button{
          display: grid;
          align-items: center;
          width: 100%;
          height: 45px;
          color: $black;
          text-align: left;
          background-color: $white;
          border: none;
          border-bottom: $blackregborder;

          &::before, &::after{
               content: '';
               position: absolute;
               top: calc(50% - 1.5px);
               right: $spacereg;
               width: 16px;
               height: 3px;
               background-color: $primary;
          }

          &::after{
               rotate: 90deg;
               transition: $primary-transition;
          }

          &:hover, &:focus{
               color: $black;
               background-color: $grey;
          }
     }

     .single-tab-wrap{
          height: auto;
          max-height: 45px;
          transition: $primary-transition;
          overflow: hidden;

          &.active{
               max-height: 1000vh;
               transition: $primary-transition;
          }
     }

     p{
          margin-left: auto;
     }

     .block-media-text{
          margin: $spacereg 0;
     }

     .block-media-text__media{
          width: $width;
     }

     .block-media-text__content{
          #{$textElements}{
               margin-left: 0;
          }
     }

     .active{
          button{
               &::after{
                    rotate: 0deg;
                    transition: $primary-transition;
               }
          }
     }

     @container(min-width: 1024px){
          .block-media-text{
               display: grid;
               grid-template-columns: repeat(2, 50%);
               min-height: auto;
               gap: ($limitgrid);
               align-items: center;

               div, figure{
                    width: auto;
               }

               figure{
                    min-height: auto;
                    aspect-ratio: 4/3;
               outline: 10px solid aquamarine;
               }

               div{
                    width: calc($limitgrid * 4);

                    #{$textElements, $headerElements}{
                         width: 100%;
                         margin-left: 0;
                    }
               }
          }

          &.tabWrap{
               display: grid;
               grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
               align-items: start;

               button{
                    height: 95px;
                    text-align: center;
                    border-top: none;
                    border-bottom: 5px solid transparent;
                    background-color: $grey;
                    transition: all $primary-transition;

                    &:hover, &:focus-within{
                         color: $black;
                         border-bottom: 5px solid $primary;
                         transition: all $primary-transition;
                    }

                    &::before, &::after{
                         display: none;
                    }
               }

               .active{
                    button{
                         background-color: $white;
                         border-top: none;
                         outline: none;
                         border-bottom: 5px solid $primary;
                         transition: all $primary-transition;
                    }
               }
          }
     }

     @container(min-width: 1440px){
          .block-media-text{
               gap: ($spacegrid);

               div{
                    width: calc($spacegrid * 4);
               }
          }
     }
}