.single-route .entry-header{
     max-width: var(--max-content-width);
     margin: 0 auto;
}

.sngl_rte_interest{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(40px, auto));
     grid-template-rows: 1fr;
}