// Core Buttons
button, input[type="submit"], input[type="button"], .block-button a{
     display: block;
     position: relative;
     width: fit-content;
     font: $size-button;
     font-variation-settings: $button;
     text-transform: uppercase;
     padding: $btntop $spacereg $spacesmall $spacereg;
     margin: 0 0 $spacereg 0;
     color: $white;
     font-weight: $wght-bold;
     background-color: $secondary;
     border: 2px solid $secondary;
     border-radius: 0;
     transition: all $primary-transition;
     cursor: pointer;

     &:hover, &:focus{
          color: $white;
          background-color: $primary;
          box-shadow: $btnshadow;
          transition: all $primary-transition;
     }
}

.is-layout-flex:not(.is-vertical){
     display: flex;
     flex-flow: wrap;
     gap: $spacereg;
     justify-content: start;
     align-items: center;

     &.is-content-justification-center{
          justify-content: center;
     }

     &.is-content-justification-right{
          justify-content: end;
     }
}

.is-style-outline, .is-style-arrowoutline{
     a{
          background-color: transparent;
          color: $secondary;
          border: 2px solid $secondary;
          transition: all $primary-transition;

          &:hover, &:focus{
               color: $white;
               border: 2px solid $primary;
               transition: all $primary-transition;
          }
     }
}

.is-style-ghost, .is-style-arrowghost{
     a{
          background-color: transparent;
          color: $secondary;
          border: 2px solid transparent;
          transition: all $primary-transition;

          &:hover, &:focus{
               color: $primary;
               background-color: transparent;
               border: 2px solid $primary;
               transition: all $primary-transition;
          }
     }
}

.is-style-arrow, .is-style-arrowoutline, .is-style-arrowghost{
     a{
          padding: $btntop $spacelarge $spacesmall $spacereg;

          &::after{
               content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOC42ODUzIDEwLjM3NDVDMTguNjg1MyAxMC43OTE0IDE4LjM0NzMgMTEuMTI5NSAxNy45MzAzIDExLjEyOTVMMS42NTcwNiAxMS4xMjk0QzEuMjQwMDggMTEuMTI5NCAwLjkwMjA1OSAxMC43OTE0IDAuOTAyMDU4IDEwLjM3NDRDMC45MDIwNTggOS45NTc0NyAxLjI0MDA4IDkuNjE5NDUgMS42NTcwNiA5LjYxOTQ1TDE3LjkzMDMgOS42MTk0NUMxOC4zNDczIDkuNjE5NDUgMTguNjg1MyA5Ljk1NzQ4IDE4LjY4NTMgMTAuMzc0NVoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMS40ODcgMi40MzgwNEwxMC4xNzY0IDMuODU3ODZMMTcuMTg0NSAxMC4zNzQ0TDEwLjE2NzMgMTYuOTAwMUwxMS40OTYxIDE4LjMxOTlMMjAuMDMzMiAxMC4zODM1TDExLjQ4NyAyLjQzODA0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+');
               display: grid;
               position: absolute;
               right: $spacesmall;
               top: 50%;
               transform: translateY(-50%);
               transition: right $primary-transition;
          }

          &:hover, &:focus{
               &::after{
                    right: calc($spacesmall - 5px);
                    transition: right $primary-transition;
               }
          }
     }
}

.is-style-arrowoutline, .is-style-arrowghost{
     a{
          &::after{
               content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIiBmaWxsPSJub25lIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE4LjY4NTMgMTAuMzc0NUMxOC42ODUzIDEwLjc5MTQgMTguMzQ3MyAxMS4xMjk1IDE3LjkzMDMgMTEuMTI5NUwxLjY1NzA2IDExLjEyOTRDMS4yNDAwOCAxMS4xMjk0IDAuOTAyMDU5IDEwLjc5MTQgMC45MDIwNTggMTAuMzc0NEMwLjkwMjA1OCA5Ljk1NzQ3IDEuMjQwMDggOS42MTk0NSAxLjY1NzA2IDkuNjE5NDVMMTcuOTMwMyA5LjYxOTQ1QzE4LjM0NzMgOS42MTk0NSAxOC42ODUzIDkuOTU3NDggMTguNjg1MyAxMC4zNzQ1WiIgZmlsbD0iIzBBN0JCRSIvPgogIDxwYXRoIGQ9Ik0xMS40ODcgMi40MzgwNEwxMC4xNzY0IDMuODU3ODZMMTcuMTg0NSAxMC4zNzQ0TDEwLjE2NzMgMTYuOTAwMUwxMS40OTYxIDE4LjMxOTlMMjAuMDMzMiAxMC4zODM1TDExLjQ4NyAyLjQzODA0WiIgZmlsbD0iIzBBN0JCRSIvPgo8L3N2Zz4=');
          }
     }
}

.is-style-arrowoutline{
     a{
          &:hover, &:focus{
               &::after{
                    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOC42ODUzIDEwLjM3NDVDMTguNjg1MyAxMC43OTE0IDE4LjM0NzMgMTEuMTI5NSAxNy45MzAzIDExLjEyOTVMMS42NTcwNiAxMS4xMjk0QzEuMjQwMDggMTEuMTI5NCAwLjkwMjA1OSAxMC43OTE0IDAuOTAyMDU4IDEwLjM3NDRDMC45MDIwNTggOS45NTc0NyAxLjI0MDA4IDkuNjE5NDUgMS42NTcwNiA5LjYxOTQ1TDE3LjkzMDMgOS42MTk0NUMxOC4zNDczIDkuNjE5NDUgMTguNjg1MyA5Ljk1NzQ4IDE4LjY4NTMgMTAuMzc0NVoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMS40ODcgMi40MzgwNEwxMC4xNzY0IDMuODU3ODZMMTcuMTg0NSAxMC4zNzQ0TDEwLjE2NzMgMTYuOTAwMUwxMS40OTYxIDE4LjMxOTlMMjAuMDMzMiAxMC4zODM1TDExLjQ4NyAyLjQzODA0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+');
               }
          }
     }
}

.block-buttons{
     container-type: inline-size;

     &.is-content-justification-center{
          .block-button{
               a{
                    margin: 0 auto $spacereg auto;
               }
          }
     }

     &.is-content-justification-right{
          .block-button{
               a{
                    margin: 0 0 $spacereg auto;
               }
          }
     }

     @container(min-width: 1024px){
          width: calc($limitgrid * 8)
     }
}
// Core Buttons - END

// File Button
.block-file{
     a{
          display: block;
          position: relative;
          width: fit-content;
          color: $secondary;
          font-weight: $wght-bold;
          font-variation-settings: $button;
          text-transform: uppercase;
          margin: 0 0 $spacesmall 0;

          &::before{
               content: '';
               display: block;
               position: absolute;
               bottom: 0;
               left: 0;
               width: calc(100% - 24px);
               max-width: 0;
               height: 2px;
               background-color: $secondary;
               transition: all $primary-transition;
          }

          &::after{
               content: '';
               display: inline-block;
               width: $spacereg;
               height: $spacereg;
               margin: 0 0 calc(($spacesmall * -1) / 3) $spacesmall;
               background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjYgOC42MVYxNy4ySDIuNFY4LjYxSDBWMTkuNkgyNFY4LjYxSDIxLjZaIiBmaWxsPSIjMEE3QkJFIi8+CjxwYXRoIGQ9Ik0xNy40NCA4LjgzOTk5TDEzLjIgOC43OTk5OVYxLjU5OTk5QzEzLjIgMC45Mzk5OTQgMTIuNiAwLjM5OTk5NCAxMiAwLjM5OTk5NEMxMS4zNCAwLjM5OTk5NCAxMC44IDAuOTM5OTk0IDEwLjggMS41OTk5OVY4Ljc5OTk5SDYuNjRMMTIgMTUuMDlMMTcuNDQgOC44Mzk5OVoiIGZpbGw9IiMwQTdCQkUiLz4KPC9zdmc+Cg==');
               background-size: contain;
               background-repeat: no-repeat;
               background-position: center;
               transition: background-image $primary-transition;
          }

          &:hover, &:focus{     
               color: $primary;

               &::after{
                    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjYgOC42MVYxNy4ySDIuNFY4LjYxSDBWMTkuNkgyNFY4LjYxSDIxLjZaIiBmaWxsPSIjMTc0Rjg0Ii8+CjxwYXRoIGQ9Ik0xNy40NCA4LjgzOTk5TDEzLjIgOC43OTk5OVYxLjU5OTk5QzEzLjIgMC45Mzk5OTQgMTIuNiAwLjM5OTk5NCAxMiAwLjM5OTk5NEMxMS4zNCAwLjM5OTk5NCAxMC44IDAuOTM5OTk0IDEwLjggMS41OTk5OVY4Ljc5OTk5SDYuNjRMMTIgMTUuMDlMMTcuNDQgOC44Mzk5OVoiIGZpbGw9IiMxNzRGODQiLz4KPC9zdmc+Cg==');
                    transition: background-image $primary-transition;
               }
               
               &::before{
                    max-width: 100%;
                    transition: all $primary-transition;
               }
          }
     }

     .block-file__button{
          display: none;
     }
}
// File Button - END

.has-background:not(.has-tertiary-background-color, .has-defgray-background-color){
     .block-file{
          a:not(.block-file__button){
               &::before{
                    background-color: $white;
               }
          }
     }
}